/* estilos/navbar.css */

  /* Estilo de la imagen de perfil */
  .Profile_image {
    width: 400px;
    height: 400px;
    border-radius: 70%;
    margin-bottom: 20px;
  }
  

  .Profile_image {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .Profile_image.hidden {
    opacity: 0;
    transform: scale(0);
  }